@font-face {
  font-family: 'Monument Extended Bold';
  src: url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot');
  src:
    url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff2')
      format('woff2'),
    url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.woff')
      format('woff'),
    url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.ttf')
      format('truetype'),
    url('https://db.onlinewebfonts.com/t/55d433372d270829c51e2577a78ef12d.svg#Monument Extended Bold')
      format('svg');
}
.ConsultationSection {
    /* box-sizing: border-box;
    outline: 6px solid limegreen !important; */
  /* border-bottom: 7px solid #14463a; */
  height: 240vh;
  position: relative;
  /* background: radial-gradient(
    circle,
    rgba(253, 252, 255, 1) 0%,
    rgba(236, 222, 183, 1) 34%,
    rgba(236, 222, 183, 1) 74%,
    rgba(255, 255, 255, 1) 100%
  ); */
}
.arrowLocation {
  position: absolute;
  right: 17vw;
  top: 55vh;
}

.apointmentImg {
  position: absolute;
  /* width: 93vw; */
  height: 55vh;
  top: 120vh;
  left: 14vw;
  /* max-width: 100%; */
}
.apointmentImgMobile {
  display: none;
}
.consult-head-combine {
  /* border: 11px solid black; */
  z-index: 5;
  position: absolute;
  top: 87vh;
  left: 5vw;
  display: flex;
  flex-direction: column;
}
.consult-head-combine2 {
  display: none;
}

.heading-main-styling {
  color: #14463a;
  font-size: 5.5rem;
  font-family: verdana;
  text-align: center;
  font-weight: 800;
  margin-bottom: -2rem;
  text-transform: uppercase;
}

.heading-main-2-styling {
  color: #14463a;
  font-size: 5.5rem;
  /* border: 2px solid black; */
  font-family: verdana;
  top: 183vh;
  left: 40vw;
  transform: translateX(-40%);
  font-weight: 800;
  text-transform: uppercase;
  position: absolute;
}

.BookNowButton {
  padding: 1.4rem 3.2rem;
  font-size: 1.3rem;
  border-radius: 2rem;
  color: #14463a;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow:
    rgba(0, 0, 0, 0.56) 7px 11px 10px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background: #ffb91d;
  position: absolute;
  bottom: 77vh;
  left: 51vw;
  transition: 200ms all ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: white;
  }
}

.HiW-section-illustration-wrapper {
  position: absolute;
  bottom: 2rem;
  display: flex;
  /* border: 1px solid black; */
  width: 100%;
  /* border: 2px solid black; */
  justify-content: space-evenly;
}

.HiW-section-illustration-wrapper .illustration-imgText-wrapper {
  /* border: 1px solid rgb(55, 0, 255); */
  text-align: center;
}
/* .HiW-section-illustration-wrapper .illustration-imgText-wrapper img{
  border: 1px solid red;
} */
.illustration-imgText-wrapper .how-it-works-section-text {
  width: 16rem;
  font-size: 1.3rem;
  /* border: 1px solid black; */
  margin-top: 2rem;
}
.consulation-bg {
  position: absolute;
  bottom: -8vh;
  height: 190vh;
}

@media (max-width:420px) {
  .ConsultationSection {
    /* border-bottom: 7px solid #14463a; */
  /* border: 2px solid black; */
  height: 140vh;
    width: 100%;
    /* position: relative; */
    /* background: radial-gradient(
      circle,
      rgba(253, 252, 255, 1) 0%,
      rgba(236, 222, 183, 1) 34%,
      rgba(236, 222, 183, 1) 74%,
      rgba(255, 255, 255, 1) 100%
    ); */
  }
  .arrowLocation {
    position: absolute;
    width: 5.2rem;
    right: 10vw;
    top: 6.5vh;
    /* display: none; */
  }
  .apointmentImg {
    display: none;
  }
  .apointmentImgMobile {
    display: block;
    position: absolute;
    /* width: 100%; */
    height: 19rem;
    top: 49vh;
    left: 8vw;
    max-width: 100%;
    z-index: 3;
  }

  .consult-head-combine {
    display: none;
  }
  .consult-head-combine2 {
    display: block;
    position: relative;
  }
  .heading-main-styling-mobile {
    font-size: 4rem;
    font-family: 'Monument Extended Bold', Verdana;
    text-align: center;
  /* border: 2px solid black; */
  width: 100%;
    /* font-weight: 800; */
    position: absolute;
    top: 18vh;
    line-height: 4rem;
    text-transform: uppercase;
    color: #14463a;
  }

  .BookNowButton {
    display: none;
  }
  .heading-main-2-styling {
    font-size: 4.2rem;
    font-family: 'Monument Extended Bold', Verdana;
    text-align: center;
    width: 100%;
    /* font-weight: 800; */
    position: absolute;
    top: 80vh;
    /* margin-top: 10vh; */
    line-height: 4rem;
    text-transform: uppercase;
    color: #14463a;
    /* display: none; */
  }

  .HiW-section-illustration-wrapper {
    position: absolute;
    bottom: 0;
    display: flex;
    /* border: 1px solid black; */
    height: max-content;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: end;
    /* display: none; */
  }

  .HiW-section-illustration-wrapper .illustration-imgText-wrapper {
    /* border: 1px solid rgb(55, 0, 255); */
    width: 42%;
    text-align: center;
  }
  .HiW-section-illustration-wrapper .illustration-imgText-wrapper img{
    /* border: 1px solid red; */
    width: 10rem;
    height: 10rem;
  }
  .illustration-imgText-wrapper .how-it-works-section-text {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    /* border: 1px solid black; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    /* display: none; */
  }
  .consulation-bg {
    position: absolute;
    top: 36vh;
    left: 10vw;
    width: 33rem;
    height: auto;
    z-index: 2;
    /* display: none; */
  }
}

@media (width<405px) {
  .apointmentImgMobile {
    position: absolute;
    /* width: 100%; */
    height: 18rem;
    top: 46vh;
    left: 9vw;
    /* display: none; */
  }
  .heading-main-styling-mobile {
    font-size: 3rem;
    font-family: 'Monument Extended Bold', Verdana;
    text-align: center;
    width: 100%;
    /* font-weight: 800; */
    position: absolute;
    top: 18vh;
    line-height: 3.3rem;
    text-transform: uppercase;
    color: #14463a;
  }
  .BookNowButton {
    display: none;
  }
}